*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#fff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.signup-container{
width:100%;
max-width:500px;
padding:50px;
border:1px solid #ececec;
border-radius:30px;
box-shadow:
0 15px 45px rgba(0,0,0,.08);
}

.logo-box{
width:70px;
height:70px;
background:#111;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
font-size:42px;
font-weight:800;
border-radius:20px;
margin:auto;
margin-bottom:25px;
}

h1{
text-align:center;
font-size:34px;
margin-bottom:12px;
}

.subtitle{
text-align:center;
color:#666;
margin-bottom:40px;
font-size:18px;
}

label{
display:block;
margin-bottom:10px;
font-weight:700;
margin-top:22px;
}

input{
width:100%;
padding:16px;
border:1px solid #ddd;
border-radius:14px;
font-size:16px;
outline:none;
}

input:focus{
border-color:#111;
}

.password-wrapper{
position:relative;
}

.eye-btn{
position:absolute;
right:15px;
top:50%;
transform:translateY(-50%);
background:none;
border:none;
cursor:pointer;
}

.eye-btn svg{
width:22px;
height:22px;
fill:#777;
}

.signup-btn{
width:100%;
padding:18px;
margin-top:35px;
background:#2563eb;
color:#fff;
border:none;
border-radius:14px;
font-size:17px;
font-weight:700;
cursor:pointer;
}

.signup-btn:hover{
opacity:.9;
}

.divider{
display:flex;
align-items:center;
margin:35px 0;
}

.divider::before,
.divider::after{
content:"";
flex:1;
height:1px;
background:#ddd;
}

.divider span{
padding:0 18px;
color:#777;
}

.google-btn{
width:100%;
padding:18px;
border:1px solid #ddd;
background:#fff;
border-radius:14px;
font-size:16px;
font-weight:700;
cursor:pointer;
}

.google-btn:hover{
background:#f8f8f8;
}

.login-text{
margin-top:35px;
text-align:center;
color:#555;
}

.login-text a{
color:#111;
font-weight:700;
text-decoration:none;
}

#message{
margin-top:25px;
text-align:center;
font-weight:700;
}

@media(max-width:600px){

.signup-container{
padding:35px;
}

}