*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#fff;
color:#111;
font-family:Arial,sans-serif;

}

.container{

max-width:900px;

margin:0 auto;

padding:0 24px;

}

.hero{

min-height:80vh;

padding:35px 0;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

display:flex;
align-items:center;
gap:14px;
text-decoration:none;
color:#111;

}

.logo-box{

width:48px;
height:48px;

background:#000;
color:#fff;

display:flex;
justify-content:center;
align-items:center;

font-size:28px;
font-weight:700;

border-radius:14px;

}

.logo-text{

font-size:20px;
font-weight:700;
letter-spacing:.3px;

}

.menu-wrapper{

position:relative;

}

.menu-btn{

background:none;
border:none;

font-size:34px;

cursor:pointer;

}

.dropdown{

position:absolute;

top:60px;
right:0;

width:320px;

background:#fff;

border-radius:18px;

box-shadow:
0 15px 40px rgba(0,0,0,.12);

overflow:hidden;

opacity:0;
visibility:hidden;

transform:
translateY(-12px);

transition:.35s;

}

.dropdown.show{

opacity:1;
visibility:visible;

transform:
translateY(0);

}

.dropdown a{

display:block;

padding:18px 24px;

text-decoration:none;

color:#111;

font-size:17px;

transition:.2s;

}

.dropdown a:hover{

background:#f4f4f4;

}

.auth-links{

display:flex;

border-top:
1px solid #eee;

}

.auth-links a{

flex:1;
text-align:center;

}

.signup-btn{

font-weight:bold;

}

.hero-content{

margin-top:90px;

}

.hero-subtitle{

font-size:15px;

letter-spacing:4px;

text-transform:uppercase;

color:#666;

margin-bottom:25px;

}

.hero-content h1{

font-size:40px;

line-height:1.08;

font-weight:800;

margin-bottom:40px;

}

.hero-description{

font-size:22px;

line-height:2;

color:#555;

max-width:850px;

}
.vision-section{

margin:80px 0;

}

.section-label{

text-transform:uppercase;

letter-spacing:4px;

font-size:14px;

color:#888;

margin-bottom:18px;

}

.section-title{

font-size:40px;

font-weight:800;

line-height:1.15;

margin-bottom:30px;

}

.section-intro{

max-width:900px;

font-size:22px;

line-height:1.9;

color:#555;

margin-bottom:70px;

}

.vision-logo{

display:flex;

justify-content:center;

margin-bottom:90px;

}

.vision-f{

width:190px;

height:190px;

border-radius:50%;

background:#000;

color:#fff;

display:flex;

align-items:center;

justify-content:center;

font-size:110px;

font-weight:800;

box-shadow:

0 20px 45px rgba(0,0,0,.15);

}

.vision-block{

margin-bottom:90px;

padding-bottom:60px;

border-bottom:1px solid #ececec;

}

.vision-block:last-child{

border-bottom:none;

padding-bottom:0;

}

.vision-block h3{

font-size:34px;

margin-bottom:25px;

font-weight:700;

}

.vision-block p{

font-size:20px;

line-height:2;

color:#555;

max-width:950px;

}

.journey-section{

margin:120px 0;

}

.journey-text{

font-size:20px;

line-height:2;

color:#555;

max-width:900px;

}